<script>
	import Card from './components/Card.svelte'
    import card from '../public/cards/club-ace.svg'
    import back from '../public/cards/back-blue.svg'
</script>

<main>
    <Card card={card}/>
    <Card card={card}/>
    <Card card={back}/>
</main>

<style>

</style>
